/* This stylesheet is just for the Dropdown Menu inside a Navigation Bar */

ul {
  overflow: hidden;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
}

/* li a:hover, .dropdown:hover .dropbtn {
    background-color: coral;
  } */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg_1);
  min-width: 9rem;
  box-shadow: 0px 8px 16px 0px var(--bg_1);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--bg_3);
  /* color: var(--bg_1) !important; */
}

.dropdown:hover .dropdown-content {
  display: block;
}
